docker/n8n/workflows/BwVMRk8VQyHnrTxC.json
{
  "updatedAt": "2025-12-16T06:39:52.039Z",
  "createdAt": "2025-11-29T16:38:44.670Z",
  "id": "BwVMRk8VQyHnrTxC",
  "name": "[DELETE] api/v1/invoice-records",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{ $workflow.name.split(' ')[0].trim().replace(/[\\[\\]]/g, '').toUpperCase() }}",
        "path": "={{ $workflow.name.split(' ')[1].trim() }}",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -368
      ],
      "id": "598a1f43-9ca2-4de5-8a23-db8023f796a7",
      "name": "Webhook",
      "webhookId": "4b9da3ce-cad5-4242-a6c3-c46fc9bc2307",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": false,
      "notesInFlow": true,
      "notes": "{\n    key: string,\n    username: string\n}"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": true,\n  \"statusCode\": 200,\n  \"message\": null,\n  \"data\": {},\n  \"errors\": []\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        -464
      ],
      "id": "a2caa86e-def5-49a8-bc04-a03ebe7ad798",
      "name": "Respond",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoice",
          "mode": "list",
          "cachedResultName": "invoice"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "key",
              "value": "={{ $json.input.key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        -368
      ],
      "id": "1c753b72-bf65-4529-bbd0-2fad4a50c1f8",
      "name": "Delete invoice item",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "OcuRcYDT49jWUabT",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "31c49fcb-70c3-4337-8f59-a9316e5521c2",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -272
      ],
      "id": "e864b6fb-2058-4fd3-8314-f84a40296554",
      "name": "Input valid"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7enGhBPQhi23ujs4",
          "mode": "list",
          "cachedResultUrl": "/workflow/7enGhBPQhi23ujs4",
          "cachedResultName": "**Write log to file"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "log": "={{ Object.assign({}, { \"timestamp\": $now.toISO(), \"level\": \"INFO\" }, $json) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "log",
              "displayName": "log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -464
      ],
      "id": "9f1f5f5b-e016-4fec-a361-98b268bc241d",
      "name": "Log request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fpp8hRV2VWjQKfOQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/fpp8hRV2VWjQKfOQ",
          "cachedResultName": "**Handle error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $workflow.name }}",
            "node": "Validate input",
            "input": "={{ $('Webhook').item.json.body }}",
            "errorCode": 400,
            "errors": "={{ $json.errors }}",
            "includeErrInResponse": true,
            "overwriteErrMsg": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "errorCode",
              "displayName": "errorCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "overwriteErrMsg",
              "displayName": "overwriteErrMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "includeErrInResponse",
              "displayName": "includeErrInResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        -80
      ],
      "id": "45167f43-1fc2-45f4-8673-3766ce0f8c72",
      "name": "Handle 400 error",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NUPg08P6iZIbhUvb",
          "mode": "list",
          "cachedResultUrl": "/workflow/NUPg08P6iZIbhUvb",
          "cachedResultName": "**Validate input"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schemas": "=[\n  {\n    \"name\": \"key\",\n    \"type\": \"string\",\n    \"optional\": false\n  },\n  {\n    \"name\": \"username\",\n    \"type\": \"string\",\n    \"optional\": false\n  }\n]",
            "values": "={{ $json.body }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "schemas",
              "displayName": "schemas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "values",
              "displayName": "values",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -272
      ],
      "id": "01ef1059-a374-48c7-958b-6f4eccde599e",
      "name": "Validate input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        -80
      ],
      "id": "604a9111-638b-45ff-a690-f8d4426b4484",
      "name": "Respond 400 error1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        -272
      ],
      "id": "a652dd7a-d746-47f6-a5ca-880b1d6f90c2",
      "name": "Respond 500 error",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fpp8hRV2VWjQKfOQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/fpp8hRV2VWjQKfOQ",
          "cachedResultName": "**Handle error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $workflow.name }}",
            "node": "={{ $prevNode.name }}",
            "input": "={{ $('Webhook').item.json.body }}",
            "message": "={{ $json.message.quote() }}",
            "errorCode": 500,
            "overwriteErrMsg": true,
            "includeErrInResponse": false,
            "errors": "={{ [ $json.error ] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "errorCode",
              "displayName": "errorCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "overwriteErrMsg",
              "displayName": "overwriteErrMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "includeErrInResponse",
              "displayName": "includeErrInResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        -272
      ],
      "id": "1bc20ffa-a0f3-434f-ab08-85b79a6f259e",
      "name": "Handle 500 error",
      "executeOnce": true,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete invoice item": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 500 error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input valid": {
      "main": [
        [
          {
            "node": "Delete invoice item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 400 error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 400 error": {
      "main": [
        [
          {
            "node": "Respond 400 error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Input valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 500 error": {
      "main": [
        [
          {
            "node": "Respond 500 error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "fpp8hRV2VWjQKfOQ"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7ef5aa6d-0bd7-4eaf-946b-4852b1891416",
  "versionCounter": 204,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-12-12T17:21:03.515Z",
      "createdAt": "2025-12-12T17:21:03.515Z",
      "id": "hvJeOftwKkWTy7R0",
      "name": "internal"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-12-10T13:18:15.075Z",
      "createdAt": "2025-12-10T13:18:15.075Z",
      "role": "workflow:owner",
      "workflowId": "BwVMRk8VQyHnrTxC",
      "projectId": "rhxZQs9R4R5EgiVa",
      "project": {
        "updatedAt": "2025-11-14T05:20:51.715Z",
        "createdAt": "2025-11-14T05:16:18.677Z",
        "id": "rhxZQs9R4R5EgiVa",
        "name": "Peerapon Boonkaweenapanon <peerapon.boonkaweenapanon@global.ntt>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}