docker/n8n/workflows/fpp8hRV2VWjQKfOQ.json
{
  "updatedAt": "2025-12-13T16:16:27.434Z",
  "createdAt": "2025-11-08T19:47:09.168Z",
  "id": "fpp8hRV2VWjQKfOQ",
  "name": "**Handle error",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const errMsgs = {\n  400: \"Invalid input\",\n  404: \"Not found\",\n  500: \"Internal error\"\n}\n\nconst errCode = $input.first().json.errorCode\nconst workflow = $input.first().json.workflow\nconst node = $input.first().json.node\nconst defaultErrMsg = errMsgs[errCode || 500] || errMsgs[500]\nconst message = $input.first().json.message || defaultErrMsg\nconst input = $input.first().json.input\nconst log = {\n  timestamp: $now.toISO(),\n  level: \"ERROR\",\n  statusCode: errCode,\n  workflow,\n  node,\n  request: input,\n  message: message,\n  errors: $input.first().json.errors\n}\nconst response = {\n  status: false,\n  statusCode: errCode,\n  message: ($input.first().json.overwriteErrMsg) ? defaultErrMsg : message,\n  data: {},\n  errors: ($input.first().json.includeErrInResponse) ? $input.first().json.errors : []\n}\n\nreturn [ {log}, {response} ]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -192
      ],
      "id": "d8c8ba33-187e-47e6-a5b5-16f6f78f02d6",
      "name": "Construct error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -192
      ],
      "id": "071b94a5-1b99-4e29-baba-fcdcf92c5e4c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1344,
        -128
      ],
      "id": "48ce42cf-41ab-4ea8-912f-8ae47d4edc00"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('log') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6f474fbc-4356-41db-9ac9-958a68dd0a11"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a264d82f-a499-486e-a6b5-d4efb562f353",
                    "leftValue": "={{ $json.hasField('response') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "response"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        896,
        -192
      ],
      "id": "66bc8973-5865-4c7c-87e4-166466bc4e4f",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(obj => ['response'].includes(Object.keys(obj.json)[0]))[0].json.response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -384
      ],
      "id": "3405c3db-0757-43fe-9ada-1961f05ee8f2",
      "name": "Extract response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7enGhBPQhi23ujs4",
          "mode": "list",
          "cachedResultUrl": "/workflow/7enGhBPQhi23ujs4",
          "cachedResultName": "**Write log to file"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "log": "={{ $json.log }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "log",
              "displayName": "log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -272
      ],
      "id": "7aa0b8d2-ad93-4d87-8ca0-8c4b692de064",
      "name": "Write log to file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -320
      ],
      "id": "08ab8223-c18f-43ec-ac6f-fb85bbe25cdb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflow"
            },
            {
              "name": "node"
            },
            {
              "name": "message"
            },
            {
              "name": "input",
              "type": "object"
            },
            {
              "name": "errorCode",
              "type": "number"
            },
            {
              "name": "errors",
              "type": "array"
            },
            {
              "name": "overwriteErrMsg",
              "type": "boolean"
            },
            {
              "name": "includeErrInResponse",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        -128
      ],
      "id": "835e0bf0-6e77-4611-8b6f-5819064cbdfa",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  workflow: $input.first().json.workflow.name,\n  node: $input.first().json.execution.lastNodeExecuted,\n  message: '',\n  errorCode: 500,\n  errors: $input.first().json.execution.error.errorResponse ?? [$input.first().json.execution.error.stack],\n  input: {},\n  overwriteErrMsg: true,\n  includeErrInResponse: false\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -320
      ],
      "id": "48a3b093-3c59-4cd5-82b1-e8e272664d30",
      "name": "Format input"
    }
  ],
  "connections": {
    "Construct error": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Extract response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Write log to file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write log to file": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Construct error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format input": {
      "main": [
        [
          {
            "node": "Construct error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "388",
            "url": "http://localhost:5678/workflow/51HLo2R3o1pGCMOG/executions/388",
            "error": {
              "description": "Please return an array of objects, one for each item you would like to output.",
              "executionId": "390",
              "workflowId": "fpp8hRV2VWjQKfOQ",
              "message": "Code doesn't return items properly",
              "stack": "Error: Code doesn't return items properly\n    at validateRunCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/result-validation.ts:132:9)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:52:33)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:147:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1074:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1255:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1691:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2307:11"
            },
            "lastNodeExecuted": "Process 400 error",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1765567156716,
              "source": "webhook"
            }
          },
          "workflow": {
            "id": "51HLo2R3o1pGCMOG",
            "name": "[POST] api/v1/test"
          }
        }
      }
    ]
  },
  "versionId": "d597fc4b-5b1a-43d6-a0fb-e4a2ff058ddf",
  "versionCounter": 67,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-12-12T17:21:03.515Z",
      "createdAt": "2025-12-12T17:21:03.515Z",
      "id": "hvJeOftwKkWTy7R0",
      "name": "internal"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-14T05:31:19.181Z",
      "createdAt": "2025-11-14T05:31:19.181Z",
      "role": "workflow:owner",
      "workflowId": "fpp8hRV2VWjQKfOQ",
      "projectId": "rhxZQs9R4R5EgiVa",
      "project": {
        "updatedAt": "2025-11-14T05:20:51.715Z",
        "createdAt": "2025-11-14T05:16:18.677Z",
        "id": "rhxZQs9R4R5EgiVa",
        "name": "Peerapon Boonkaweenapanon <peerapon.boonkaweenapanon@global.ntt>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}